<!--    footer.ejs  -->
<footer>

    <a href="#" id="link-top"><div id="triunghi"></div></a>
    
    <small>
        © 2024 ClickCraft Toate drepturile rezervate
        <time datetime="2024-01-01">Data creării: 1 ianuarie 2024</time>
    </small>

    <address>
        <!-- Număr de telefon fictiv -->
        <p><a href="tel:+1234567890">+123 456 7890</a></p>

        <!-- Adresă fictivă -->
        <p><a href="https://maps.app.goo.gl/fgLi6KmjLZ1eb9tU8" target="_blank">ClickCraft</a></p>

        <!-- E-mail fictiv -->
        <p><a href="mailto:ClickCraft@egmail.com">ClickCraft@gmail.com</a></p>

        <!-- Link pentru deschiderea Skype -->
        <p><a href="skype:fictiv.user?chat">Skype</a></p>

        <!-- Link deschider WhatsApp -->
        <p><a href="https://api.whatsapp.com/send?phone=1234567890">WhatsApp</a></p>
    </address>
</footer>