 <!-- head.ejs  -->

 <style>
     h1 {
         text-align: center;
     }
 </style>
 
 <title> ClickCraft </title>

 <meta charset="UTF-8"><!-- codificarea în memorie a caracterelor-->
 <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- va fi explicat când ajungem la CSS -->

 <meta name="author" content="Piroi Madalin-George">  <!-- autorul/autoarea paginii-->


 <link rel="apple-touch-icon" sizes="180x180" href="./resurse/favicon/apple-touch-icon.png">
 <link rel="icon" type="image/png" sizes="32x32" href="./resurse/favicon/favicon-32x32.png">
 <link rel="icon" type="image/png" sizes="16x16" href="./resurse/favicon/favicon-16x16.png">
 <link rel="manifest" href="./resurse/favicon/site.webmanifest">
 <link rel="mask-icon" href="./resurse/favicon/safari-pinned-tab.svg" color="#5bbad5">
 <link rel="shortcut icon" href="./resurse/favicon/favicon.ico">
 <meta name="msapplication-TileColor" content="#603cba">
 <meta name="msapplication-config" content="./resurse/favicon/browserconfig.xml">
 <meta name="theme-color" content="#ffffff">

<link rel="stylesheet" href="/resurse/css/customizare_bootstrap.css" type="text/css" />
 <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
 
 <!--css files-->
 <link rel="stylesheet" href="resurse/css/still.css" type="text/css" />
 <link rel="stylesheet" href="resurse/css/culori.css" type="text/css" />
 <link rel="stylesheet" href="resurse/css/nav700.css" type="text/css" media="screen and (max-width:700px)" />
 <link rel="stylesheet" href="resurse/css/nav.css" type="text/css" />
 <link rel="stylesheet" href="resurse/scss/nav.scss" type="text/css" />
 <link rel="stylesheet" href="resurse/css/video.css" type="text/css" />
 <link rel="stylesheet" href="resurse/css/images.css" type="text/css" />
 <link rel="stylesheet" href="resurse/css/links.css" type="text/css" />
 <link rel="stylesheet" href="resurse/css/space.css" type="text/css" />
 <link rel="stylesheet" href="resurse/css/layout.css" type="text/css" />
 <link rel="stylesheet" href="resurse/css/printare.css" type="text/css" />
 <link rel="stylesheet" href="resurse/css/nav1000.css" type="text/css" />
 <link rel="stylesheet" href="resurse/css/nav500.css" type="text/css" media="screen and (max-width:500px)" />
 <link rel="stylesheet" href="resurse/css/galerie-statica.css" type="text/css" />
 <link rel="stylesheet" href="resurse/css/duotone.css" type="text/css" />
 <link rel="stylesheet" href="resurse/css/produs.css" type="text/css" />
 <link rel="manifest" href="/favicon/site.webmanifest">




 






 <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
 <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">






 <!-- Icon Static (Keyboard) -->
 <i class="fa fa-keyboard"></i>

 <!-- Icon Animat (Gear Spinner) -->
 <i class="fa fa-cog fa-spin"></i>